<div class="card bg-card text-dark">
  <div class="card-header">
    Detalle Producto
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <ul class="list-group">
          <li class="list-group"> Nombre: {{producto.nombre}}</li>

        </ul>

      </div>
    </div>

  </div>
</div>
